@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>SimpleBlog Admin</title>

    @Styles.Render("~/admin/styles")
</head>
<body>
    
<div class="container">
    <ul class="nav nav-pills">
        <li class="@(ViewBag.SelectedTab == "posts" ? "active" : "")">
            @Html.ActionLink("Posts", "Index", "Posts", new {area="admin"}, new{})
        </li>
        <li class="@(ViewBag.SelectedTab == "users" ? "active" : "")">
            @Html.ActionLink("Users", "Index", "Users", new { area = "admin"}, new{})
        </li>
        <li>
            @Html.RouteLink("Back to Website", "Home")
        </li>
        
        @RenderBody()
    </ul>
</div>

@Scripts.Render("~/admin/scripts")
@RenderSection("Scripts", false)
</body>
</html>